@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Edit " + Model.ProductName;
}

<h1>@ViewData["Title"]</h1>

@{
    /*
     * EDIT File Upload Steps
     * ** NOTE: These steps assume that you have already implemented file upload in the Create view/action.  If you have not, implement that first, and then come back
     * ** to edit. **
     * 1) Modify Edit View
     *      - Add <input type="hidden" asp-for="[PropertyName]" /> for the class's image property
     *      - Add enctype="multipart/form-data" to the <form>
     *      - Comment out <input type="text"...> for original image property
     *      - Replace with <input type="file" asp-for="[IFormFile Prop Name]" />
     * 
     * 2) Add code to handle file upload in Controller (Edit POST)
     *      - BIND the IFormFile property in the method signature
     *      - Add logic to process the file upload --> save the file to the web server, save the file name to the DB
     *          - Note: this logic is slightly different than what we needed for the create, so when doing this in StoreFront, 
     *              be sure to refer to the Edit example.
     */
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="ProductImage" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCertified" class="control-label"></label>
                <input asp-for="ProductCertified" class="form-control" />
                <span asp-validation-for="ProductCertified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuality" class="control-label"></label>
                <input asp-for="ProductQuality" class="form-control" />
                <span asp-validation-for="ProductQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                @*<input asp-for="ProductImage" class="form-control" />*@
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Shopping</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
